* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    font-family: "IBM Plex Sans", sans-serif;
    font-size: 2rem;
    color: #292929;
    line-height: 1.5;
}

nav {
    font-family: "Lato", sans-serif;

    ul {
        display: flex;

        li {
            list-style: none;
        }
    }
}